<section>
    <div class="x78zum5 xdt5ytf" style="gap: 36px;">
        <div class="x78zum5" style="align-items: center; justify-content: space-between; width: 100%; gap: 16px;">
            <div role="tablist"
                class="x78zum5 xw2csxc x1yrsyyn x1icxu4v x10b6aqq x25sj25 xifccgj x1ws5yxj x4cne27 xw01apr xw09woa xmixu3c hide-scrollbar">
                <div role="tab" tabindex="-1" aria-selected="false"
                    class="x87ps6o x1ypdohk x3nfvp2 x6s0dn4 xuxw1ft xk50ysn x1u7k74 x10w6t97 x1onr9mi x1pic42t x1142k65 x9okykr x3hdh8v xr0m5pc xif65rj x1ds2qyl x14rh7hd xeuugli xjnqqgn x2lah0s xdxgbl4 xayv9eh x19b482l"
                    style="--x-color: var(--c-texSec); --x-umghl: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 0) * 1))); --x-ph3bdx: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 1) * 2))); --x-13tdqfb: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 0) * 1)));">
                    Discover</div>
                <div role="tab" tabindex="-1" aria-selected="false"
                    class="x87ps6o x1ypdohk x3nfvp2 x6s0dn4 xuxw1ft xk50ysn x1u7k74 x10w6t97 x1onr9mi x1pic42t x1142k65 x9okykr x3hdh8v xr0m5pc xif65rj x1ds2qyl x14rh7hd xeuugli xjnqqgn x2lah0s xdxgbl4 xayv9eh x19b482l"
                    style="--x-color: var(--c-texSec); --x-umghl: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 0) * 1))); --x-ph3bdx: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 1) * 2))); --x-13tdqfb: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 0) * 1)));">
                    Installed</div>
                <div role="tab" tabindex="0" aria-selected="true"
                    class="x87ps6o x1ypdohk x3nfvp2 x6s0dn4 xuxw1ft xk50ysn x1u7k74 x10w6t97 x1onr9mi x1pic42t x1142k65 x9okykr x3hdh8v xr0m5pc xif65rj x1ds2qyl x14rh7hd xeuugli xjnqqgn x2lah0s x16lehos xdxgbl4 xayv9eh x19b482l xv5htvx x1wopl6b"
                    style="--x-color: var(--c-texPri); --x-umghl: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 1) * 1))); --x-ph3bdx: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 1) * 2))); --x-13tdqfb: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 1) * 1))); --x-l5dkfo: var(--ca-bacIntTra);">
                    Manage</div>
            </div><a href="https://app.notion.com/developers" role="link" target="_blank" rel="noopener noreferrer"
                class="x1hl2dhg x87ps6o x1ypdohk x3nfvp2 x6s0dn4 xuxw1ft xk50ysn x1u7k74 xxk0z11 x25sj25 x1icxu4v x1i5p2am x1whfx0g xr2y4jy x1ihp6rs xif65rj xw09woa xmixu3c x1ds2qyl x14rh7hd xeuugli xjnqqgn x2lah0s xdxgbl4 xayv9eh x19b482l"
                style="--x-color: var(--c-graTexAccPri); --x-umghl: rgb(from var(--ca-graBacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 0) * 1))); --x-ph3bdx: rgb(from var(--ca-graBacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 1) * 2))); --x-13tdqfb: rgb(from var(--ca-graBacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 0) * 1)));">Go
                to developer portal<svg aria-hidden="true" role="graphics-symbol" viewBox="3.65 0 8.68 16"
                    class="arrowDiagonalUpRightSmall directional-icon x1lliihq x2lah0s x14atkfc x1v9usgg x19zyb68 x14rh7hd"
                    style="--x-fill: var(--c-graIcoAccPri); --x-color: var(--c-graIcoAccPri);">
                    <path
                        d="M5.603 3.663a.625.625 0 1 0 0 1.25h4.6l-6.37 6.371a.615.615 0 0 0 .013.87.616.616 0 0 0 .87.014l6.371-6.372v4.601a.625.625 0 1 0 1.25 0v-6.11a.625.625 0 0 0-.625-.624z">
                    </path>
                </svg></a>
        </div>
        <div class="x78zum5 xdt5ytf" style="width: 100%; gap: 32px;">
            <div style="margin-bottom: -16px;">
                <div class="x78zum5 xdt5ytf autolayout-fill-width" style="gap: 4px; position: relative;">
                    <div style="color: var(--c-texPri); font-size: 17px; line-height: 22px; font-weight: 600;">Manage
                        connections and tokens</div>
                </div>
            </div>
            <div class="x78zum5 xdt5ytf" style="width: 100%; gap: 12px;">
                <div role="button" tabindex="0"
                    class="x87ps6o x1ypdohk x3nfvp2 x6s0dn4 xuxw1ft x1u7k74 x1fgtraw xmzvs34 xf159sx x1i5p2am x1whfx0g xr2y4jy x1ihp6rs xif65rj x1ds2qyl x14rh7hd xeuugli xjnqqgn x2lah0s xo1l8bm xdxgbl4 xayv9eh x19b482l"
                    style="--x-color: var(--c-texPri); --x-umghl: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 0) * 1))); --x-ph3bdx: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 1) * 2))); --x-13tdqfb: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 0) * 1))); display: flex; gap: 16px; justify-content: space-between; width: 100%; height: auto; padding-top: 14px; padding-bottom: 14px; padding-inline: 16px; border-radius: 8px; border: 1px solid var(--ca-borPriTra); box-shadow: var(--c-shaBasSm);">
                    <div class="x78zum5 xdt5ytf"
                        style="flex: 1 1 auto; min-width: 0px; gap: 2px; white-space: normal; overflow-wrap: break-word;">
                        <div style="color: var(--c-texPri); font-size: 14px; line-height: 20px; font-weight: 500;">All
                            connections</div>
                        <div style="color: var(--c-texSec); font-size: 13px; line-height: 18px; font-weight: 400;">
                            Connections added by workspace members</div>
                    </div>
                    <div class="x78zum5" style="align-items: center; flex-shrink: 0; gap: 12px;">
                        <div style="color: var(--c-texSec); font-size: 13px; line-height: 18px; font-weight: 400;">27
                            connections</div>
                        <div aria-hidden="true"
                            style="display: flex; align-items: center; justify-content: center; width: 20px; height: 20px; border-radius: 999px; background: var(--c-bacTer); flex-shrink: 0;">
                            <svg aria-hidden="true" role="graphics-symbol" viewBox="0 0 16 16"
                                class="arrowChevronSingleRightSmall directional-icon x1lliihq x2lah0s x6jxa94 x1v9usgg x19zyb68 x14rh7hd"
                                style="--x-fill: var(--c-icoSec); --x-color: var(--c-icoSec);">
                                <path
                                    d="M6.722 3.238a.625.625 0 1 0-.884.884L9.716 8l-3.878 3.878a.625.625 0 0 0 .884.884l4.32-4.32a.625.625 0 0 0 0-.884z">
                                </path>
                            </svg></div>
                    </div>
                </div>
                <div role="button" tabindex="0"
                    class="x87ps6o x1ypdohk x3nfvp2 x6s0dn4 xuxw1ft x1u7k74 x1fgtraw xmzvs34 xf159sx x1i5p2am x1whfx0g xr2y4jy x1ihp6rs xif65rj x1ds2qyl x14rh7hd xeuugli xjnqqgn x2lah0s xo1l8bm xdxgbl4 xayv9eh x19b482l"
                    style="--x-color: var(--c-texPri); --x-umghl: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 0) * 1))); --x-ph3bdx: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 1) * 2))); --x-13tdqfb: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 0) * 1))); display: flex; gap: 16px; justify-content: space-between; width: 100%; height: auto; padding-top: 14px; padding-bottom: 14px; padding-inline: 16px; border-radius: 8px; border: 1px solid var(--ca-borPriTra); box-shadow: var(--c-shaBasSm);">
                    <div class="x78zum5 xdt5ytf"
                        style="flex: 1 1 auto; min-width: 0px; gap: 2px; white-space: normal; overflow-wrap: break-word;">
                        <div style="color: var(--c-texPri); font-size: 14px; line-height: 20px; font-weight: 500;">All
                            personal access tokens</div>
                        <div style="color: var(--c-texSec); font-size: 13px; line-height: 18px; font-weight: 400;">
                            Access tokens created by workspace members</div>
                    </div>
                    <div class="x78zum5" style="align-items: center; flex-shrink: 0; gap: 12px;">
                        <div style="color: var(--c-texSec); font-size: 13px; line-height: 18px; font-weight: 400;">0
                            active tokens</div>
                        <div aria-hidden="true"
                            style="display: flex; align-items: center; justify-content: center; width: 20px; height: 20px; border-radius: 999px; background: var(--c-bacTer); flex-shrink: 0;">
                            <svg aria-hidden="true" role="graphics-symbol" viewBox="0 0 16 16"
                                class="arrowChevronSingleRightSmall directional-icon x1lliihq x2lah0s x6jxa94 x1v9usgg x19zyb68 x14rh7hd"
                                style="--x-fill: var(--c-icoSec); --x-color: var(--c-icoSec);">
                                <path
                                    d="M6.722 3.238a.625.625 0 1 0-.884.884L9.716 8l-3.878 3.878a.625.625 0 0 0 .884.884l4.32-4.32a.625.625 0 0 0 0-.884z">
                                </path>
                            </svg></div>
                    </div>
                </div>
            </div>
            <div style="padding-top: 16px; margin-bottom: -16px;">
                <div class="x78zum5 xdt5ytf autolayout-fill-width" style="gap: 4px; position: relative;">
                    <div style="color: var(--c-texPri); font-size: 17px; line-height: 22px; font-weight: 600;">Manage
                        permissions</div>
                </div>
            </div>
            <div class="x78zum5 xdt5ytf" style="width: 100%; gap: 32px;">
                <div
                    style="display: flex; width: 100%; flex-wrap: wrap; position: relative; gap: 12px; justify-content: space-between; align-items: center;">
                    <div style="flex: 3 1 0%; min-width: 200px;">
                        <div class="x78zum5 xdt5ytf"
                            style="align-items: flex-start; justify-content: flex-start; gap: 4px;">
                            <div class="x78zum5" style="align-items: center; gap: 6px;">
                                <div id=":r1rt:"
                                    style="color: var(--c-texPri); font-size: 14px; line-height: 20px; font-weight: 500;">
                                    Limit which connections members can install</div>
                            </div>
                            <div id=":r1ru:"
                                style="color: var(--c-texSec); font-size: 13px; line-height: 18px; font-weight: 400; text-wrap: pretty;">
                                <div role="button" tabindex="0"
                                    class="x87ps6o x1ypdohk x3nfvp2 x6s0dn4 xuxw1ft x1u7k74 x1qx5ct2 x25sj25 x1icxu4v xjwep3j x1t39747 x1wcsgtt x1pczhz8 xfifm61 x1r0jzty x17zd0t2 x1ds2qyl x14rh7hd xeuugli xjnqqgn x2lah0s xo1l8bm xdxgbl4 xayv9eh x19b482l"
                                    style="--x-color: var(--c-texPri); --x-umghl: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 0) * 1))); --x-ph3bdx: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 1) * 2))); --x-13tdqfb: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 0) * 1))); min-height: fit-content; text-wrap: pretty; padding-inline: 4px; gap: 4px;">
                                    <svg aria-hidden="true" role="graphics-symbol" viewBox="2.37 2.37 15.25 15.26"
                                        class="arrowInCircleUpAnimated x1lliihq x2lah0s x14atkfc x1kpxq89 x19zyb68 x14rh7hd"
                                        style="--x-fill: var(--c-bluIcoAccPri); --x-color: var(--c-bluIcoAccPri);">
                                        <defs>
                                            <clipPath id="46fb40cf-b93c-4e6f-8c33-0235c8a44d6f">
                                                <rect x="2.5" y="2.5" width="15" height="15" rx="7.5"></rect>
                                            </clipPath>
                                        </defs>
                                        <rect x="2.5" y="2.5" width="15" height="15" rx="7.5"></rect>
                                        <g clip-path="url(#46fb40cf-b93c-4e6f-8c33-0235c8a44d6f)">
                                            <path
                                                d="M13.0419 9.55439C12.7978 9.79847 12.4021 9.79847 12.158 9.55439L10.625 8.02136L10.625 13.4874C10.625 13.8326 10.3452 14.1124 10 14.1124C9.65482 14.1124 9.375 13.8326 9.375 13.4874L9.375 8.02131L7.84192 9.5544C7.59784 9.79847 7.20211 9.79847 6.95804 9.5544C6.71396 9.31032 6.71396 8.91459 6.95803 8.67051L9.55803 6.07051C9.67524 5.9533 9.83421 5.88745 9.99997 5.88745C10.1657 5.88745 10.3247 5.9533 10.4419 6.07051L13.0419 8.67051C13.286 8.91459 13.286 9.31032 13.0419 9.55439Z"
                                                fill="white"
                                                style="transform-origin: center bottom; transition: 0.548s linear(0 0%, 0.006 1%, 0.022 2%, 0.091 4.3%, 0.52 14%, 0.624 16.65%, 0.71 19.3%, 0.784 22.1%, 0.846 24.9%, 0.895 27.9%, 0.934 31.15%, 0.961 34.4%, 0.98 37.9%, 0.993 42%, 1.001 46.8%, 1.004 55.3%, 1 100%);">
                                            </path>
                                        </g>
                                        <g clip-path="url(#46fb40cf-b93c-4e6f-8c33-0235c8a44d6f)">
                                            <path
                                                d="M13.0419 9.55439C12.7978 9.79847 12.4021 9.79847 12.158 9.55439L10.625 8.02136L10.625 13.4874C10.625 13.8326 10.3452 14.1124 10 14.1124C9.65482 14.1124 9.375 13.8326 9.375 13.4874L9.375 8.02131L7.84192 9.5544C7.59784 9.79847 7.20211 9.79847 6.95804 9.5544C6.71396 9.31032 6.71396 8.91459 6.95803 8.67051L9.55803 6.07051C9.67524 5.9533 9.83421 5.88745 9.99997 5.88745C10.1657 5.88745 10.3247 5.9533 10.4419 6.07051L13.0419 8.67051C13.286 8.91459 13.286 9.31032 13.0419 9.55439Z"
                                                fill="white"
                                                style="translate: 0px 10px; scale: 0.7; opacity: 0; transform-origin: center top; transition: 0.548s linear(0 0%, 0.006 1%, 0.022 2%, 0.091 4.3%, 0.52 14%, 0.624 16.65%, 0.71 19.3%, 0.784 22.1%, 0.846 24.9%, 0.895 27.9%, 0.934 31.15%, 0.961 34.4%, 0.98 37.9%, 0.993 42%, 1.001 46.8%, 1.004 55.3%, 1 100%);">
                                            </path>
                                        </g>
                                    </svg>
                                    <div style="color: var(--c-texSec);">
                                        <div
                                            style="color: var(--c-bluTexAccPri); font-size: 12px; line-height: 16px; font-weight: 500; display: contents;">
                                            Upgrade</div> to control what workspace members can connect
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        style="flex: 1 1 0%; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-end;">
                        <div class="x78zum5" style="align-items: center; gap: 4px;">
                            <div style="align-items: center; display: flex;">
                                <div class="xjp7ctv" data-popup-origin="true">
                                    <div aria-disabled="true" role="button" tabindex="-1" aria-expanded="false"
                                        aria-haspopup="dialog"
                                        class="x87ps6o x1b7c0jy xt0e3qv x3nfvp2 x6s0dn4 xl56j7k xuxw1ft xk50ysn x1u7k74 x1fgtraw xmzvs34 xf159sx x1i5p2am x1whfx0g xr2y4jy x1ihp6rs xif65rj xw09woa xmixu3c x1ha54eg x1ym9u1z x1gat650 x1t8z4yu x14rh7hd xti2d7y"
                                        style="--x-border: 1px solid var(--ca-borPriTra); --x-color: var(--c-texPri);">
                                        No restrictions<svg aria-hidden="true" role="graphics-symbol"
                                            viewBox="3.06 0 9.88 16"
                                            class="arrowChevronSingleDownSmall x1lliihq x2lah0s x14atkfc x1v9usgg x19zyb68 x14rh7hd"
                                            style="--x-fill: var(--c-icoDis); --x-color: var(--c-icoDis);">
                                            <path
                                                d="m12.76 6.52-4.32 4.32a.62.62 0 0 1-.44.18.62.62 0 0 1-.44-.18L3.24 6.52a.63.63 0 0 1 0-.88c.24-.24.64-.24.88 0L8 9.52l3.88-3.88c.24-.24.64-.24.88 0s.24.64 0 .88">
                                            </path>
                                        </svg></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                style="display: flex; width: 100%; flex-wrap: wrap; position: relative; gap: 12px; justify-content: space-between; align-items: center;">
                <div style="flex: 3 1 0%; min-width: 200px;">
                    <div class="x78zum5 xdt5ytf"
                        style="align-items: flex-start; justify-content: flex-start; gap: 4px;">
                        <div class="x78zum5" style="align-items: center; gap: 6px;">
                            <div id=":r1s1:"
                                style="color: var(--c-texPri); font-size: 14px; line-height: 20px; font-weight: 500;">
                                Enable custom MCP servers</div>
                            <div class="x78zum5" style="align-items: center; gap: 4px;">
                                <div class="xjp7ctv" data-popup-origin="true"><a
                                        href="https://www.notion.com/help/security-best-practices-for-agent-connections"
                                        target="_blank" rel="noopener noreferrer"
                                        class="x1lliihq x1hl2dhg x87ps6o x1ypdohk x1heor9g x1gnnqk1 x1qg7kqd x1a2a7pz x1fpaf4q"
                                        style="display: flex; align-items: center;"><svg aria-hidden="true"
                                            role="graphics-symbol" viewBox="0 0 16 16"
                                            class="questionMarkCircle x1lliihq x1c4vz4f x2lah0s x1plvlek xryxfnj x5lhr3w x16ye13r x19zyb68 x14rh7hd"
                                            style="--x-width: 16px; --x-height: 16px; --x-fill: var(--c-icoTer); --x-color: var(--c-icoTer);">
                                            <path
                                                d="M7.98 4.456c-1.044 0-2.053.604-2.298 1.584a.575.575 0 1 0 1.116.279c.083-.334.513-.713 1.183-.713.79 0 1.204.49 1.204.85 0 .219-.134.47-.443.658l-.011.006-.67.458-.003.002a1.82 1.82 0 0 0-.803 1.488.575.575 0 1 0 1.15 0c0-.193.102-.4.306-.541l.642-.44c.554-.342.982-.92.982-1.63 0-1.22-1.179-2-2.354-2m-.118 5.688a.775.775 0 1 0 0 1.55.775.775 0 0 0 0-1.55">
                                            </path>
                                            <path
                                                d="M8 1.875a6.125 6.125 0 1 0 0 12.25 6.125 6.125 0 0 0 0-12.25M3.125 8a4.875 4.875 0 1 1 9.75 0 4.875 4.875 0 0 1-9.75 0">
                                            </path>
                                        </svg></a></div>
                            </div>
                        </div>
                        <div id=":r1s2:"
                            style="color: var(--c-texSec); font-size: 13px; line-height: 18px; font-weight: 400; text-wrap: pretty;">
                            Allow members to connect agents to custom MCP servers that Notion hasn’t reviewed. Connected
                            agents can share content externally, access external data, and take external actions through
                            them.</div>
                    </div>
                </div>
                <div
                    style="flex: 1 1 0%; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-end;">
                    <div class="x78zum5" style="align-items: center; justify-content: center; gap: 4px;">
                        <div class="x1n2onr6 x2lah0s x1c4vz4f x18e1mjr xdxgbl4 xayv9eh"
                            style="--x-umghl: rgb(from var(--ca-bacSecTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 1) * 1))); --x-ph3bdx: rgb(from var(--ca-bacSecTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 1) * 2))); border-radius: 44px;">
                            <div
                                style="position: relative; display: flex; flex-shrink: 0; height: 14px; width: 26px; border-radius: 44px; padding: 2px; box-sizing: content-box; background: var(--c-bluBacAccPri); transition: background 200ms, box-shadow 200ms; outline: transparent solid 1px;">
                                <div
                                    style="width: 14px; height: 14px; border-radius: 44px; background: white; transition: transform 200ms ease-out, background 200ms ease-out; transform: translateX(12px) translateY(0px); outline: transparent solid 1px;">
                                </div>
                            </div><input aria-labelledby=":r1s1:" aria-describedby=":r1s2:" type="checkbox"
                                class="x10l6tqk xg01cxk xh8yej3 x5yr21d x13vifvy x1o0tod x1ypdohk" role="switch"
                                checked="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="x78zum5 xdt5ytf" style="gap: 32px;">
                <div
                    style="display: flex; width: 100%; flex-wrap: wrap; position: relative; gap: 12px; justify-content: space-between; align-items: center;">
                    <div style="flex: 3 1 0%; min-width: 200px;">
                        <div class="x78zum5 xdt5ytf"
                            style="align-items: flex-start; justify-content: flex-start; gap: 4px;">
                            <div class="x78zum5" style="align-items: center; gap: 6px;">
                                <div id=":r1s3:"
                                    style="color: var(--c-texPri); font-size: 14px; line-height: 20px; font-weight: 500;">
                                    Limit who can create internal connections</div>
                            </div>
                            <div id=":r1s4:"
                                style="color: var(--c-texSec); font-size: 13px; line-height: 18px; font-weight: 400; text-wrap: pretty;">
                                <div role="button" tabindex="0"
                                    class="x87ps6o x1ypdohk x3nfvp2 x6s0dn4 xuxw1ft x1u7k74 x1qx5ct2 x25sj25 x1icxu4v xjwep3j x1t39747 x1wcsgtt x1pczhz8 xfifm61 x1r0jzty x17zd0t2 x1ds2qyl x14rh7hd xeuugli xjnqqgn x2lah0s xo1l8bm xdxgbl4 xayv9eh x19b482l"
                                    style="--x-color: var(--c-texPri); --x-umghl: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 0) * 1))); --x-ph3bdx: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 1) * 2))); --x-13tdqfb: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 0) * 1))); min-height: fit-content; text-wrap: pretty; padding-inline: 4px; gap: 4px;">
                                    <svg aria-hidden="true" role="graphics-symbol" viewBox="2.37 2.37 15.25 15.26"
                                        class="arrowInCircleUpAnimated x1lliihq x2lah0s x14atkfc x1kpxq89 x19zyb68 x14rh7hd"
                                        style="--x-fill: var(--c-bluIcoAccPri); --x-color: var(--c-bluIcoAccPri);">
                                        <defs>
                                            <clipPath id="2ca3bc93-e655-445a-9330-924d44ee645c">
                                                <rect x="2.5" y="2.5" width="15" height="15" rx="7.5"></rect>
                                            </clipPath>
                                        </defs>
                                        <rect x="2.5" y="2.5" width="15" height="15" rx="7.5"></rect>
                                        <g clip-path="url(#2ca3bc93-e655-445a-9330-924d44ee645c)">
                                            <path
                                                d="M13.0419 9.55439C12.7978 9.79847 12.4021 9.79847 12.158 9.55439L10.625 8.02136L10.625 13.4874C10.625 13.8326 10.3452 14.1124 10 14.1124C9.65482 14.1124 9.375 13.8326 9.375 13.4874L9.375 8.02131L7.84192 9.5544C7.59784 9.79847 7.20211 9.79847 6.95804 9.5544C6.71396 9.31032 6.71396 8.91459 6.95803 8.67051L9.55803 6.07051C9.67524 5.9533 9.83421 5.88745 9.99997 5.88745C10.1657 5.88745 10.3247 5.9533 10.4419 6.07051L13.0419 8.67051C13.286 8.91459 13.286 9.31032 13.0419 9.55439Z"
                                                fill="white"
                                                style="transform-origin: center bottom; transition: 0.548s linear(0 0%, 0.006 1%, 0.022 2%, 0.091 4.3%, 0.52 14%, 0.624 16.65%, 0.71 19.3%, 0.784 22.1%, 0.846 24.9%, 0.895 27.9%, 0.934 31.15%, 0.961 34.4%, 0.98 37.9%, 0.993 42%, 1.001 46.8%, 1.004 55.3%, 1 100%);">
                                            </path>
                                        </g>
                                        <g clip-path="url(#2ca3bc93-e655-445a-9330-924d44ee645c)">
                                            <path
                                                d="M13.0419 9.55439C12.7978 9.79847 12.4021 9.79847 12.158 9.55439L10.625 8.02136L10.625 13.4874C10.625 13.8326 10.3452 14.1124 10 14.1124C9.65482 14.1124 9.375 13.8326 9.375 13.4874L9.375 8.02131L7.84192 9.5544C7.59784 9.79847 7.20211 9.79847 6.95804 9.5544C6.71396 9.31032 6.71396 8.91459 6.95803 8.67051L9.55803 6.07051C9.67524 5.9533 9.83421 5.88745 9.99997 5.88745C10.1657 5.88745 10.3247 5.9533 10.4419 6.07051L13.0419 8.67051C13.286 8.91459 13.286 9.31032 13.0419 9.55439Z"
                                                fill="white"
                                                style="translate: 0px 10px; scale: 0.7; opacity: 0; transform-origin: center top; transition: 0.548s linear(0 0%, 0.006 1%, 0.022 2%, 0.091 4.3%, 0.52 14%, 0.624 16.65%, 0.71 19.3%, 0.784 22.1%, 0.846 24.9%, 0.895 27.9%, 0.934 31.15%, 0.961 34.4%, 0.98 37.9%, 0.993 42%, 1.001 46.8%, 1.004 55.3%, 1 100%);">
                                            </path>
                                        </g>
                                    </svg>
                                    <div style="color: var(--c-texSec);">
                                        <div
                                            style="color: var(--c-bluTexAccPri); font-size: 12px; line-height: 16px; font-weight: 500; display: contents;">
                                            Upgrade</div> to limit who can create internal connections
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        style="flex: 1 1 0%; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-end;">
                        <div class="x78zum5" style="align-items: center; gap: 4px;">
                            <div style="align-items: center; display: flex;">
                                <div class="xjp7ctv" data-popup-origin="true">
                                    <div aria-disabled="true" role="button" tabindex="-1" aria-expanded="false"
                                        aria-haspopup="dialog"
                                        class="x87ps6o x1b7c0jy xt0e3qv x3nfvp2 x6s0dn4 xl56j7k xuxw1ft xk50ysn x1u7k74 x1fgtraw xmzvs34 xf159sx x1i5p2am x1whfx0g xr2y4jy x1ihp6rs xif65rj xw09woa xmixu3c x1ha54eg x1ym9u1z x1gat650 x1t8z4yu x14rh7hd xti2d7y"
                                        style="--x-border: 1px solid var(--ca-borPriTra); --x-color: var(--c-texPri);">
                                        Workspace owners only<svg aria-hidden="true" role="graphics-symbol"
                                            viewBox="3.06 0 9.88 16"
                                            class="arrowChevronSingleDownSmall x1lliihq x2lah0s x14atkfc x1v9usgg x19zyb68 x14rh7hd"
                                            style="--x-fill: var(--c-icoDis); --x-color: var(--c-icoDis);">
                                            <path
                                                d="m12.76 6.52-4.32 4.32a.62.62 0 0 1-.44.18.62.62 0 0 1-.44-.18L3.24 6.52a.63.63 0 0 1 0-.88c.24-.24.64-.24.88 0L8 9.52l3.88-3.88c.24-.24.64-.24.88 0s.24.64 0 .88">
                                            </path>
                                        </svg></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="x78zum5 xdt5ytf" style="gap: 32px;">
                <div
                    style="display: flex; width: 100%; flex-wrap: wrap; position: relative; gap: 12px; justify-content: space-between; align-items: center;">
                    <div style="flex: 3 1 0%; min-width: 200px;">
                        <div class="x78zum5 xdt5ytf"
                            style="align-items: flex-start; justify-content: flex-start; gap: 4px;">
                            <div class="x78zum5" style="align-items: center; gap: 6px;">
                                <div id=":r1s7:"
                                    style="color: var(--c-texPri); font-size: 14px; line-height: 20px; font-weight: 500;">
                                    Limit who can create personal access tokens (PATs)</div>
                            </div>
                            <div id=":r1s8:"
                                style="color: var(--c-texSec); font-size: 13px; line-height: 18px; font-weight: 400; text-wrap: pretty;">
                                <div role="button" tabindex="0"
                                    class="x87ps6o x1ypdohk x3nfvp2 x6s0dn4 xuxw1ft x1u7k74 x1qx5ct2 x25sj25 x1icxu4v xjwep3j x1t39747 x1wcsgtt x1pczhz8 xfifm61 x1r0jzty x17zd0t2 x1ds2qyl x14rh7hd xeuugli xjnqqgn x2lah0s xo1l8bm xdxgbl4 xayv9eh x19b482l"
                                    style="--x-color: var(--c-texPri); --x-umghl: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 0) * 1))); --x-ph3bdx: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 1) * 2))); --x-13tdqfb: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 0) * 1))); min-height: fit-content; text-wrap: pretty; padding-inline: 4px; gap: 4px;">
                                    <svg aria-hidden="true" role="graphics-symbol" viewBox="2.37 2.37 15.25 15.26"
                                        class="arrowInCircleUpAnimated x1lliihq x2lah0s x14atkfc x1kpxq89 x19zyb68 x14rh7hd"
                                        style="--x-fill: var(--c-bluIcoAccPri); --x-color: var(--c-bluIcoAccPri);">
                                        <defs>
                                            <clipPath id="a4714212-00f7-4b79-a475-837ac280ff3d">
                                                <rect x="2.5" y="2.5" width="15" height="15" rx="7.5"></rect>
                                            </clipPath>
                                        </defs>
                                        <rect x="2.5" y="2.5" width="15" height="15" rx="7.5"></rect>
                                        <g clip-path="url(#a4714212-00f7-4b79-a475-837ac280ff3d)">
                                            <path
                                                d="M13.0419 9.55439C12.7978 9.79847 12.4021 9.79847 12.158 9.55439L10.625 8.02136L10.625 13.4874C10.625 13.8326 10.3452 14.1124 10 14.1124C9.65482 14.1124 9.375 13.8326 9.375 13.4874L9.375 8.02131L7.84192 9.5544C7.59784 9.79847 7.20211 9.79847 6.95804 9.5544C6.71396 9.31032 6.71396 8.91459 6.95803 8.67051L9.55803 6.07051C9.67524 5.9533 9.83421 5.88745 9.99997 5.88745C10.1657 5.88745 10.3247 5.9533 10.4419 6.07051L13.0419 8.67051C13.286 8.91459 13.286 9.31032 13.0419 9.55439Z"
                                                fill="white"
                                                style="transform-origin: center bottom; transition: 0.548s linear(0 0%, 0.006 1%, 0.022 2%, 0.091 4.3%, 0.52 14%, 0.624 16.65%, 0.71 19.3%, 0.784 22.1%, 0.846 24.9%, 0.895 27.9%, 0.934 31.15%, 0.961 34.4%, 0.98 37.9%, 0.993 42%, 1.001 46.8%, 1.004 55.3%, 1 100%);">
                                            </path>
                                        </g>
                                        <g clip-path="url(#a4714212-00f7-4b79-a475-837ac280ff3d)">
                                            <path
                                                d="M13.0419 9.55439C12.7978 9.79847 12.4021 9.79847 12.158 9.55439L10.625 8.02136L10.625 13.4874C10.625 13.8326 10.3452 14.1124 10 14.1124C9.65482 14.1124 9.375 13.8326 9.375 13.4874L9.375 8.02131L7.84192 9.5544C7.59784 9.79847 7.20211 9.79847 6.95804 9.5544C6.71396 9.31032 6.71396 8.91459 6.95803 8.67051L9.55803 6.07051C9.67524 5.9533 9.83421 5.88745 9.99997 5.88745C10.1657 5.88745 10.3247 5.9533 10.4419 6.07051L13.0419 8.67051C13.286 8.91459 13.286 9.31032 13.0419 9.55439Z"
                                                fill="white"
                                                style="translate: 0px 10px; scale: 0.7; opacity: 0; transform-origin: center top; transition: 0.548s linear(0 0%, 0.006 1%, 0.022 2%, 0.091 4.3%, 0.52 14%, 0.624 16.65%, 0.71 19.3%, 0.784 22.1%, 0.846 24.9%, 0.895 27.9%, 0.934 31.15%, 0.961 34.4%, 0.98 37.9%, 0.993 42%, 1.001 46.8%, 1.004 55.3%, 1 100%);">
                                            </path>
                                        </g>
                                    </svg>
                                    <div style="color: var(--c-texSec);">
                                        <div
                                            style="color: var(--c-bluTexAccPri); font-size: 12px; line-height: 16px; font-weight: 500; display: contents;">
                                            Upgrade</div> to limit who can create personal access tokens
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        style="flex: 1 1 0%; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-end;">
                        <div class="x78zum5" style="align-items: center; gap: 4px;">
                            <div style="align-items: center; display: flex;">
                                <div class="xjp7ctv" data-popup-origin="true">
                                    <div aria-disabled="true" role="button" tabindex="-1" aria-expanded="false"
                                        aria-haspopup="dialog"
                                        class="x87ps6o x1b7c0jy xt0e3qv x3nfvp2 x6s0dn4 xl56j7k xuxw1ft xk50ysn x1u7k74 x1fgtraw xmzvs34 xf159sx x1i5p2am x1whfx0g xr2y4jy x1ihp6rs xif65rj xw09woa xmixu3c x1ha54eg x1ym9u1z x1gat650 x1t8z4yu x14rh7hd xti2d7y"
                                        style="--x-border: 1px solid var(--ca-borPriTra); --x-color: var(--c-texPri);">
                                        Workspace owners only<svg aria-hidden="true" role="graphics-symbol"
                                            viewBox="3.06 0 9.88 16"
                                            class="arrowChevronSingleDownSmall x1lliihq x2lah0s x14atkfc x1v9usgg x19zyb68 x14rh7hd"
                                            style="--x-fill: var(--c-icoDis); --x-color: var(--c-icoDis);">
                                            <path
                                                d="m12.76 6.52-4.32 4.32a.62.62 0 0 1-.44.18.62.62 0 0 1-.44-.18L3.24 6.52a.63.63 0 0 1 0-.88c.24-.24.64-.24.88 0L8 9.52l3.88-3.88c.24-.24.64-.24.88 0s.24.64 0 .88">
                                            </path>
                                        </svg></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                style="display: flex; width: 100%; flex-wrap: wrap; position: relative; gap: 12px; justify-content: space-between; align-items: center;">
                <div style="flex: 3 1 0%; min-width: 200px;">
                    <div class="x78zum5 xdt5ytf"
                        style="align-items: flex-start; justify-content: flex-start; gap: 4px;">
                        <div class="x78zum5" style="align-items: center; gap: 6px;">
                            <div id=":r1sb:"
                                style="color: var(--c-texPri); font-size: 14px; line-height: 20px; font-weight: 500;">
                                Allow webhook actions in automations</div>
                        </div>
                        <div id=":r1sc:"
                            style="color: var(--c-texSec); font-size: 13px; line-height: 18px; font-weight: 400; text-wrap: pretty;">
                            <div role="button" tabindex="0"
                                class="x87ps6o x1ypdohk x3nfvp2 x6s0dn4 xuxw1ft x1u7k74 x1qx5ct2 x25sj25 x1icxu4v xjwep3j x1t39747 x1wcsgtt x1pczhz8 xfifm61 x1r0jzty x17zd0t2 x1ds2qyl x14rh7hd xeuugli xjnqqgn x2lah0s xo1l8bm xdxgbl4 xayv9eh x19b482l"
                                style="--x-color: var(--c-texPri); --x-umghl: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 0) * 1))); --x-ph3bdx: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 1) * 2))); --x-13tdqfb: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 0) * 1))); min-height: fit-content; text-wrap: pretty; padding-inline: 4px; gap: 4px;">
                                <svg aria-hidden="true" role="graphics-symbol" viewBox="2.37 2.37 15.25 15.26"
                                    class="arrowInCircleUpAnimated x1lliihq x2lah0s x14atkfc x1kpxq89 x19zyb68 x14rh7hd"
                                    style="--x-fill: var(--c-bluIcoAccPri); --x-color: var(--c-bluIcoAccPri);">
                                    <defs>
                                        <clipPath id="dfb414f7-ee09-4860-b78a-71eb1b4ab28f">
                                            <rect x="2.5" y="2.5" width="15" height="15" rx="7.5"></rect>
                                        </clipPath>
                                    </defs>
                                    <rect x="2.5" y="2.5" width="15" height="15" rx="7.5"></rect>
                                    <g clip-path="url(#dfb414f7-ee09-4860-b78a-71eb1b4ab28f)">
                                        <path
                                            d="M13.0419 9.55439C12.7978 9.79847 12.4021 9.79847 12.158 9.55439L10.625 8.02136L10.625 13.4874C10.625 13.8326 10.3452 14.1124 10 14.1124C9.65482 14.1124 9.375 13.8326 9.375 13.4874L9.375 8.02131L7.84192 9.5544C7.59784 9.79847 7.20211 9.79847 6.95804 9.5544C6.71396 9.31032 6.71396 8.91459 6.95803 8.67051L9.55803 6.07051C9.67524 5.9533 9.83421 5.88745 9.99997 5.88745C10.1657 5.88745 10.3247 5.9533 10.4419 6.07051L13.0419 8.67051C13.286 8.91459 13.286 9.31032 13.0419 9.55439Z"
                                            fill="white"
                                            style="transform-origin: center bottom; transition: 0.548s linear(0 0%, 0.006 1%, 0.022 2%, 0.091 4.3%, 0.52 14%, 0.624 16.65%, 0.71 19.3%, 0.784 22.1%, 0.846 24.9%, 0.895 27.9%, 0.934 31.15%, 0.961 34.4%, 0.98 37.9%, 0.993 42%, 1.001 46.8%, 1.004 55.3%, 1 100%);">
                                        </path>
                                    </g>
                                    <g clip-path="url(#dfb414f7-ee09-4860-b78a-71eb1b4ab28f)">
                                        <path
                                            d="M13.0419 9.55439C12.7978 9.79847 12.4021 9.79847 12.158 9.55439L10.625 8.02136L10.625 13.4874C10.625 13.8326 10.3452 14.1124 10 14.1124C9.65482 14.1124 9.375 13.8326 9.375 13.4874L9.375 8.02131L7.84192 9.5544C7.59784 9.79847 7.20211 9.79847 6.95804 9.5544C6.71396 9.31032 6.71396 8.91459 6.95803 8.67051L9.55803 6.07051C9.67524 5.9533 9.83421 5.88745 9.99997 5.88745C10.1657 5.88745 10.3247 5.9533 10.4419 6.07051L13.0419 8.67051C13.286 8.91459 13.286 9.31032 13.0419 9.55439Z"
                                            fill="white"
                                            style="translate: 0px 10px; scale: 0.7; opacity: 0; transform-origin: center top; transition: 0.548s linear(0 0%, 0.006 1%, 0.022 2%, 0.091 4.3%, 0.52 14%, 0.624 16.65%, 0.71 19.3%, 0.784 22.1%, 0.846 24.9%, 0.895 27.9%, 0.934 31.15%, 0.961 34.4%, 0.98 37.9%, 0.993 42%, 1.001 46.8%, 1.004 55.3%, 1 100%);">
                                        </path>
                                    </g>
                                </svg>
                                <div style="color: var(--c-texSec);">
                                    <div
                                        style="color: var(--c-bluTexAccPri); font-size: 12px; line-height: 16px; font-weight: 500; display: contents;">
                                        Upgrade</div> to disable webhooks to third-party tools in database automations
                                    and buttons
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    style="flex: 1 1 0%; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-end;">
                    <div class="x78zum5" style="align-items: center; justify-content: center; gap: 4px;">
                        <div class="x1n2onr6 x2lah0s x1c4vz4f" style="border-radius: 44px; opacity: 0.4;">
                            <div
                                style="position: relative; display: flex; flex-shrink: 0; height: 14px; width: 26px; border-radius: 44px; padding: 2px; box-sizing: content-box; background: var(--c-bluBacAccPri); transition: background 200ms, box-shadow 200ms; outline: transparent solid 1px; cursor: default;">
                                <div
                                    style="width: 14px; height: 14px; border-radius: 44px; background: white; transition: transform 200ms ease-out, background 200ms ease-out; transform: translateX(12px) translateY(0px); outline: transparent solid 1px;">
                                </div>
                            </div><input aria-labelledby=":r1sb:" aria-describedby=":r1sc:" disabled="" type="checkbox"
                                class="x10l6tqk xg01cxk xh8yej3 x5yr21d x13vifvy x1o0tod x47corl" role="switch"
                                checked="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>