<div style="display: flex; flex-direction: column; align-items: flex-end; padding-bottom: 8px; width: 100%;">
    <div style="max-width: calc(95% - 40px); margin-inline-start: 70px;">
        <div>
            <div
                style="padding-top: 6px; padding-bottom: 6px; padding-inline: 14px; border-radius: 16px; background-color: var(--ca-bacTerTra); transition: background-color 0.1s; max-width: 100%; overflow: hidden; overflow-wrap: break-word; word-break: break-word;">
                <div id=":r1e5:" class="content-editable-leaf-rtl" spellcheck="true" placeholder=" "
                    contenteditable="false" data-content-editable-leaf="true"
                    style="max-width: 100%; width: 100%; white-space: pre-wrap; word-break: break-word; caret-color: var(--c-texPri); font-size: 14px; line-height: 20px; overflow-wrap: break-word; cursor: text;">
                    hi</div>
            </div>
        </div>
    </div>
    <div
        style="display: flex; flex-direction: row; align-items: center; justify-content: flex-end; height: 28px; padding-top: 4px; opacity: 1; transition: opacity 0.1s;">
        <div
            style="font-size: 12px; line-height: 16px; color: var(--c-texTer); margin-inline-end: 6px; display: flex; align-items: center;">
            August 12 at 11:57 PM</div>
        <div style="display: flex; flex-direction: row; align-items: center; width: 48px;">
            <div class="xjp7ctv" data-popup-origin="true">
                <div role="button" tabindex="0" aria-label="Edit message"
                    class="x87ps6o x1ypdohk x3nfvp2 x6s0dn4 xl56j7k xuxw1ft xk50ysn x1u7k74 xxk0z11 x1i5p2am x1whfx0g xr2y4jy x1ihp6rs xif65rj xvy4d1p x1c1uobl xyri2b xxs79tx x1o1pmfc x2lah0s x1ds2qyl x14rh7hd x16lehos xdxgbl4 xayv9eh x19b482l"
                    style="--x-color: var(--c-texSec); --x-l5dkfo: transparent; --x-umghl: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 0) * 1))); --x-ph3bdx: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 1) * 2))); --x-13tdqfb: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 0) * 1)));">
                    <svg aria-hidden="true" role="graphics-symbol" viewBox="0 0 16 16"
                        class="pencilLineSmall x1lliihq x2lah0s x1kky2od xlup9mm x19zyb68 x14rh7hd"
                        style="--x-fill: var(--c-icoSec); --x-color: var(--c-icoSec);">
                        <path
                            d="M11.243 3.457a.803.803 0 0 0-1.13 0l-.554.552a.075.075 0 0 0 0 .106l1.03 1.03a.075.075 0 0 0 .107 0l.547-.546a.1.1 0 0 0 .019-.032.804.804 0 0 0-.02-1.11m-2.246 1.22a.075.075 0 0 0-.106 0l-6.336 6.326a1.1 1.1 0 0 0-.237.393l-.27.87v.002c-.062.232.153.466.389.383l.863-.267q.221-.061.397-.239l6.332-6.331a.075.075 0 0 0 0-.106zm-3.355 6.898a.08.08 0 0 0-.053.022l-1.1 1.1a.075.075 0 0 0 .053.128h9.06a.625.625 0 1 0 0-1.25z">
                        </path>
                    </svg></div>
            </div>
            <div class="xjp7ctv" data-popup-origin="true">
                <div role="button" tabindex="0" aria-label="Copy text"
                    class="x87ps6o x1ypdohk x3nfvp2 x6s0dn4 xl56j7k xuxw1ft xk50ysn x1u7k74 xxk0z11 x1i5p2am x1whfx0g xr2y4jy x1ihp6rs xif65rj xvy4d1p x1c1uobl xyri2b xxs79tx x1o1pmfc x2lah0s x1ds2qyl x14rh7hd x16lehos xdxgbl4 xayv9eh x19b482l"
                    style="--x-color: var(--c-texSec); --x-l5dkfo: transparent; --x-umghl: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 0) * 1))); --x-ph3bdx: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 1) * 2))); --x-13tdqfb: rgb(from var(--ca-bacIntTra) r g b / calc(alpha * (1 + 0.5 * var(--btn-adj-mult, 0) * 1))); opacity: 1; transition: opacity 0.1s;">
                    <svg aria-hidden="true" role="graphics-symbol" viewBox="0 0 16 16"
                        class="duplicateSmall x1lliihq x2lah0s x1kky2od xlup9mm x19zyb68 x14rh7hd"
                        style="--x-fill: var(--c-icoSec); --x-color: var(--c-icoSec);">
                        <path
                            d="M3.25 1.375c-1.036 0-1.875.84-1.875 1.875v6c0 1.036.84 1.875 1.875 1.875h1.625v1.625c0 1.036.84 1.875 1.875 1.875h6c1.036 0 1.875-.84 1.875-1.875v-6c0-1.036-.84-1.875-1.875-1.875h-1.625V3.25c0-1.036-.84-1.875-1.875-1.875zM2.625 3.25c0-.345.28-.625.625-.625h6c.345 0 .625.28.625.625v1.625H6.75c-1.036 0-1.875.84-1.875 1.875v3.125H3.25a.625.625 0 0 1-.625-.625zm3.5 3.5c0-.345.28-.625.625-.625h6c.345 0 .625.28.625.625v6c0 .345-.28.625-.625.625h-6a.625.625 0 0 1-.625-.625z">
                        </path>
                    </svg></div>
            </div>
        </div>
    </div>
</div>